body {
  font-family: 'Nunito Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
}

.header_links {
  display: flex;
  flex-direction: column;
}

a {
  color: #0083d6;
}

.fingerform {
  margin: 3em 10% 1em 10%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1.5em;
}

.resultsform {
  margin: 2em 1em 1em;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: .5em;
}

.section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: .5em;
  width: 25%;
}

.section_top {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: .5em;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #003f87;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  height: auto;
  border-radius: 5px;
}

.label_result {
  color: #003f87;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  height: auto;
  border-radius: 5px;
}

.section_double {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: .5em;
  width: 25%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section_mid {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section_mid_results {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advanced_search {
  display: none;
  justify-content: space-between;
  height: 100px;
}


@media only screen and (max-width: 1200px) {
  .advanced_search {
    height: 200px;
    flex-wrap: wrap;
  }

  .section, .section_double {
    width: 44%;
  }

  .row {
    flex-wrap: wrap;
  }

  .section_top {
    width: 100%;
  }
}

.advanced_button {
  border-radius: 5px;
  border: 1px solid #003f87;
  color: #003f87;
  padding: 8px;
  width: 154px;
  font-size: 14px;
  background-color: #f2f2f2;
  cursor: pointer;
  text-align: center;
}

.advanced_button_small {
  border-radius: 5px;
  border: 1px solid #003f87;
  color: #003f87;
  padding: 4px;
  width: 154px;
  font-size: 14px;
  background-color: #f2f2f2;
  cursor: pointer;
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Nunito Sans', sans-serif;
}

input[type=text] {
  width: 96%;
}

input[type=submit], input[type=reset] {
  border-radius: 5px;
  width: 154px;
  background-color: #0083d6;
  color: #fff;
  border: none;
  padding: 8px 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

input[type=reset] {
  margin-right: 1em;
}

.button_wrapper {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: flex-end;
}

.button_wrapper_results {
  margin: 0 1em 0 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.table_head {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  border-radius: 5px 5px 0 0;
}

.head_item {
  width: 18%;
  text-align: center;
  border-right: 1px solid #003f87;
  font-size: 17px;
  color: #003f87;
  font-weight: bold;
}

.head_item:last-of-type {
  border-right: none;
}

.head_item:first-of-type {
  width: 10%
}

.result {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #003f87;
  align-items: center;
}

.result:nth-child(odd) {
  background-color: #f2f2f2;
}

.result:last-of-type {
border-bottom: 1px solid #003f87;
}

.result_item {
  width: 18%;
  text-align: center;
  font-size: 14px;
}

.result_item:first-of-type {
  width: 10%;
}
